In [754]:
import pandas as pd

In [755]:
data = pd.read_csv("Auto MPG - Sheet1.csv")

In [756]:
print(data.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model year
0  18.0          8         307.0        130    3504          12.0          70  \
1  15.0          8         350.0        165    3693          11.5          70
2  18.0          8         318.0        150    3436          11.0          70
3  16.0          8         304.0        150    3433          12.0          70
4  17.0          8         302.0        140    3449          10.5          70

   origin
0       1
1       1
2       1
3       1
4       1

#### From the ucl website it's given already
#### That these are the configuration of data types 
  ######  1. mpg:           continuous
  ######  2. cylinders:     multi-valued discrete
  ######  3. displacement:  continuous
  ######  4. horsepower:    continuous
  ######  5. weight:        continuous
  ######  6. acceleration:  continuous
  ######  7. model year:    multi-valued discrete
  ######  8. origin:        multi-valued discrete

### Printing the unique values of cylinders , model year , origin

In [757]:
print((data['cylinders'].unique()))

[8 4 6 3 5]

In [758]:
df = pd.DataFrame(data)

In [759]:
import numpy as np

In [760]:
discrete_columns = ['cylinders', 'model year', 'origin']

### Encoded this on basis of the the number of rows of that specefic unique value the least one gets the first 1 in first place , highest gets 1 in last place

Column - Cylinder 
#### For e.g.  - These are the unique values in this case [8 4 6 3 5]

| Value | Number of Rows | Encoding      |
|-------|----------------|---------------|
| 4     | 204            | 0 ,  0 ,  0 ,  0 , 1 |
| 8     | 103            | 0 ,  0 ,  0 ,  1 , 0 |
| 6     | 84             | 0 ,  0 ,  1 ,  0 , 0 |
| 3     | 4              | 0 ,  1 ,  0 ,  0 ,  0 |
| 5     | 3              | 1 ,  0 ,  0 ,  0 ,  0 |

In [761]:
df = pd.DataFrame(data)

# Define the discrete columns to be one-hot encoded
discrete_columns = ['cylinders', 'model year', 'origin']

# Create custom binary encoding for each discrete column
for column in discrete_columns:
    column_values = df[column]
    
    # Calculate unique values and their counts
    unique_values, value_counts = column_values.unique(), column_values.value_counts()

    # Iterate through unique values and print both the value and the number of rows
    
    print(value_counts)

    # print("column name is " , value_counts   )

    # Sort unique values based on counts in ascending order
    unique_values = unique_values[np.argsort(value_counts)]
    print("after sorting on basis of row " , unique_values)

    # Create custom binary encoding based on counts
    for i, unique_value in enumerate(unique_values):
        encoding = ['0'] * len(unique_values)
        encoding[i] = '1'
        encoding = ''.join(encoding)
        print('this is encoding for ' , unique_value  , "value is ",  encoding)
        # Create a new column with the custom encoding
        column_name = f'{column}_{unique_value}'
        df[column_name] = (column_values == unique_value).astype(int)

cylinders
4    204
8    103
6     84
3      4
5      3
Name: count, dtype: int64
after sorting on basis of row  [5 3 6 4 8]
this is encoding for  5 value is  10000
this is encoding for  3 value is  01000
this is encoding for  6 value is  00100
this is encoding for  4 value is  00010
this is encoding for  8 value is  00001
model year
73    40
78    36
76    34
82    31
75    30
70    29
79    29
80    29
81    29
71    28
72    28
77    28
74    27
Name: count, dtype: int64
after sorting on basis of row  [82 79 80 81 75 76 77 78 74 73 72 71 70]
this is encoding for  82 value is  1000000000000
this is encoding for  79 value is  0100000000000
this is encoding for  80 value is  0010000000000
this is encoding for  81 value is  0001000000000
this is encoding for  75 value is  0000100000000
this is encoding for  76 value is  0000010000000
this is encoding for  77 value is  0000001000000
this is encoding for  78 value is  0000000100000
this is encoding for  74 value is  0000000010000
this is encoding for  73 value is  0000000001000
this is encoding for  72 value is  0000000000100
this is encoding for  71 value is  0000000000010
this is encoding for  70 value is  0000000000001
origin
1    249
3     79
2     70
Name: count, dtype: int64
after sorting on basis of row  [2 3 1]
this is encoding for  2 value is  100
this is encoding for  3 value is  010
this is encoding for  1 value is  001

##  Below are the columns in modified csv

### mpg , displacement , horsepower , weight , acceleration , cylinders_5 , cylinders_3 , cylinders_6 , cylinders_4 , cylinders_8 , model year_82 , model year_79 , model year_80 , model year_81 , model year_75 , model year_76 , model year_77 , model year_78 , model year_74 , model year_73 , model year_72 , model year_71 , model year_70 , origin_2 , origin_3 , origin_1

#### making each column of the unique values present in the continous-discrete value column

In [762]:

# Drop the original discrete columns
df.drop(discrete_columns, axis=1, inplace=True)

# Display the modified DataFrame with the custom binary encoding
print(df)

      mpg  displacement horsepower  weight  acceleration  cylinders_5
0    18.0         307.0        130    3504          12.0            0  \
1    15.0         350.0        165    3693          11.5            0
2    18.0         318.0        150    3436          11.0            0
3    16.0         304.0        150    3433          12.0            0
4    17.0         302.0        140    3449          10.5            0
..    ...           ...        ...     ...           ...          ...
393  27.0         140.0         86    2790          15.6            0
394  44.0          97.0         52    2130          24.6            0
395  32.0         135.0         84    2295          11.6            0
396  28.0         120.0         79    2625          18.6            0
397  31.0         119.0         82    2720          19.4            0

     cylinders_3  cylinders_6  cylinders_4  cylinders_8  ...  model year_77
0              0            0            0            1  ...              0  \
1              0            0            0            1  ...              0
2              0            0            0            1  ...              0
3              0            0            0            1  ...              0
4              0            0            0            1  ...              0
..           ...          ...          ...          ...  ...            ...
393            0            0            1            0  ...              0
394            0            0            1            0  ...              0
395            0            0            1            0  ...              0
396            0            0            1            0  ...              0
397            0            0            1            0  ...              0

     model year_78  model year_74  model year_73  model year_72
0                0              0              0              0  \
1                0              0              0              0
2                0              0              0              0
3                0              0              0              0
4                0              0              0              0
..             ...            ...            ...            ...
393              0              0              0              0
394              0              0              0              0
395              0              0              0              0
396              0              0              0              0
397              0              0              0              0

     model year_71  model year_70  origin_2  origin_3  origin_1
0                0              1         0         0         1
1                0              1         0         0         1
2                0              1         0         0         1
3                0              1         0         0         1
4                0              1         0         0         1
..             ...            ...       ...       ...       ...
393              0              0         0         0         1
394              0              0         1         0         0
395              0              0         0         0         1
396              0              0         0         0         1
397              0              0         0         0         1

[398 rows x 26 columns]

In [763]:
non_numeric_columns = data.select_dtypes(exclude=['number'])

# Display the list of non-numeric columns
print(non_numeric_columns.columns)

Index(['horsepower'], dtype='object')

## From this there are some missing data in horsepower column

In [764]:
import pandas as pd
import numpy as np

# Load the DataFrame (replace 'data.csv' with your file path)
# data = pd.read_csv("data.csv")

# Convert 'horsepower' column to numeric (replace '?' with NaN)
df['horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')

# Calculate the mean of 'horsepower' excluding NaN values
mean_horsepower = df['horsepower'].mean()

# Replace NaN values (formerly '?') with the calculated mean
df['horsepower'].fillna(mean_horsepower, inplace=True)

# Display the updated DataFrame
print(df)

      mpg  displacement  horsepower  weight  acceleration  cylinders_5
0    18.0         307.0       130.0    3504          12.0            0  \
1    15.0         350.0       165.0    3693          11.5            0
2    18.0         318.0       150.0    3436          11.0            0
3    16.0         304.0       150.0    3433          12.0            0
4    17.0         302.0       140.0    3449          10.5            0
..    ...           ...         ...     ...           ...          ...
393  27.0         140.0        86.0    2790          15.6            0
394  44.0          97.0        52.0    2130          24.6            0
395  32.0         135.0        84.0    2295          11.6            0
396  28.0         120.0        79.0    2625          18.6            0
397  31.0         119.0        82.0    2720          19.4            0

     cylinders_3  cylinders_6  cylinders_4  cylinders_8  ...  model year_77
0              0            0            0            1  ...              0  \
1              0            0            0            1  ...              0
2              0            0            0            1  ...              0
3              0            0            0            1  ...              0
4              0            0            0            1  ...              0
..           ...          ...          ...          ...  ...            ...
393            0            0            1            0  ...              0
394            0            0            1            0  ...              0
395            0            0            1            0  ...              0
396            0            0            1            0  ...              0
397            0            0            1            0  ...              0

     model year_78  model year_74  model year_73  model year_72
0                0              0              0              0  \
1                0              0              0              0
2                0              0              0              0
3                0              0              0              0
4                0              0              0              0
..             ...            ...            ...            ...
393              0              0              0              0
394              0              0              0              0
395              0              0              0              0
396              0              0              0              0
397              0              0              0              0

     model year_71  model year_70  origin_2  origin_3  origin_1
0                0              1         0         0         1
1                0              1         0         0         1
2                0              1         0         0         1
3                0              1         0         0         1
4                0              1         0         0         1
..             ...            ...       ...       ...       ...
393              0              0         0         0         1
394              0              0         1         0         0
395              0              0         0         0         1
396              0              0         0         0         1
397              0              0         0         0         1

[398 rows x 26 columns]

In [765]:
# Check if there are any '?' in the 'horsepower' column
has_question_marks = (df['horsepower'] == '?')

# Check if there are any rows with '?' in the 'horsepower' column
if has_question_marks.any():
    print("There are still '?' in the 'horsepower' column.")
else:
    print("There are no '?' in the 'horsepower' column.")

There are no '?' in the 'horsepower' column.

In [766]:
df.to_csv('modified_data_binary.csv', index=False)

https://www.geeksforgeeks.org/ml-one-hot-encoding-of-datasets-in-python/

In [767]:
data = pd.read_csv("modified_data_binary.csv")

In [768]:
print(data.head())

    mpg  displacement  horsepower  weight  acceleration  cylinders_5
0  18.0         307.0       130.0    3504          12.0            0  \
1  15.0         350.0       165.0    3693          11.5            0
2  18.0         318.0       150.0    3436          11.0            0
3  16.0         304.0       150.0    3433          12.0            0
4  17.0         302.0       140.0    3449          10.5            0

   cylinders_3  cylinders_6  cylinders_4  cylinders_8  ...  model year_77
0            0            0            0            1  ...              0  \
1            0            0            0            1  ...              0
2            0            0            0            1  ...              0
3            0            0            0            1  ...              0
4            0            0            0            1  ...              0

   model year_78  model year_74  model year_73  model year_72  model year_71
0              0              0              0              0              0  \
1              0              0              0              0              0
2              0              0              0              0              0
3              0              0              0              0              0
4              0              0              0              0              0

   model year_70  origin_2  origin_3  origin_1
0              1         0         0         1
1              1         0         0         1
2              1         0         0         1
3              1         0         0         1
4              1         0         0         1

[5 rows x 26 columns]

  ----------------------------------------------------------------

1) b) Let D = {x1, x2, . . . , xn} be n objects consists of d features, i.e., for every 1 ≤ i ≤ n, xi = [xi1, xi2, . . . , xid] ∈ R
d. The variance σ2 of D is defined as σ2 :=
Xn i=1 (xi − x ̄)T (xi − x ̄) = 1nXn i=1∥xi − x ̄∥22, where for any a = [a1, . . . , ad] ∈ R d, the aT a = ∥a∥22 =P 1≤i≤d
(ai) 2 and the mean x ̄ = 1 n P 1≤i≤n xi . Now, use the file you have saved in (a) and compute the mean  ̄x and variance σ2 of the data in it.

In [769]:
import pandas as pd

# Load the modified data from the CSV file
data = pd.read_csv("modified_data_binary.csv")


# Select only numeric columns (excluding any non-numeric columns)
numeric_data = data.select_dtypes(include=['number'])


variance_per_mean =  numeric_data.mean()
# Calculate the variance for each numeric column
variance_per_column = numeric_data.var()

# Display the variance for each column
print("mean of each column is "  )
print(variance_per_mean  )

mean of each column is
mpg                23.514573
displacement      193.425879
horsepower        104.469388
weight           2970.424623
acceleration       15.568090
cylinders_5         0.007538
cylinders_3         0.010050
cylinders_6         0.211055
cylinders_4         0.512563
cylinders_8         0.258794
model year_82       0.077889
model year_79       0.072864
model year_80       0.072864
model year_81       0.072864
model year_75       0.075377
model year_76       0.085427
model year_77       0.070352
model year_78       0.090452
model year_74       0.067839
model year_73       0.100503
model year_72       0.070352
model year_71       0.070352
model year_70       0.072864
origin_2            0.175879
origin_3            0.198492
origin_1            0.625628
dtype: float64

In [770]:
print("variance of each column is ")
print( variance_per_column)

variance of each column is
mpg                  61.089611
displacement      10872.199152
horsepower         1459.177916
weight           717140.990526
acceleration          7.604848
cylinders_5           0.007500
cylinders_3           0.009974
cylinders_6           0.166930
cylinders_4           0.250472
cylinders_8           0.192303
model year_82         0.072004
model year_79         0.067725
model year_80         0.067725
model year_81         0.067725
model year_75         0.069871
model year_76         0.078326
model year_77         0.065567
model year_78         0.082478
model year_74         0.063396
model year_73         0.090629
model year_72         0.065567
model year_71         0.065567
model year_70         0.067725
origin_2              0.145311
origin_3              0.159494
origin_1              0.234808
dtype: float64

------------------------------------------------------------------------------------------------------------------

1 ) c) You might notice that the variance of the data is highly dominated by few
features compared to other features. So, normalize each feature of the saved
data with its mean and variance. Now compute the variance of the normalized
data.

--------------------------------------------------------------------------------------------------------------------------------------------